<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   {% if title %}
   <title>Hadia HS {{title}}</title>
   {% else %}
   <title>Hadia HS</title>
   {% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="img/png" href="../static/img/logo.png">
<link rel="stylesheet"  href="../static/bootstrap.css">
<link rel="stylesheet" href="../static/w3.css">
 
<link href="../static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="../static/css/sb-admin-2.min.css" rel="stylesheet">



    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->

<style>

.center {
  
  justify-content: center;
  flex-direction: column;
  padding: 0rem 14rem;
  transition: all 0.2s 0.7s;
  grid-column: 4/ 2;
  grid-row: 4/ 2;
}
@media (max-width: 570px) {
  .center {
    padding: 0 1.5rem;
  }

</style>
</head>
<body>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
             <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Admin Jan</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->

      
        

           

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Leader
            </div>

    
            
    <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-plus"></i>
                    <span>Add Tables</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Add Tables:</h6>
                        <a class="collapse-item" href="/addemployee">Add Employee</a>
                        <a class="collapse-item" href="/addstudent">Add Student</a>
                        <a class="collapse-item" href="/addfewtools">Add Few Tools</a>
                        <a class="collapse-item" href="/addtools">Add Tools</a>
                         <a class="collapse-item" href="/addclass">Add Class</a>
                         <a class="collapse-item" href="/addtool">Add Tool</a>
                        <a class="collapse-item" href="/addposition">Add Position</a>
                        <a class="collapse-item" href="/addsubject">Add Subject </a>
                        
                        
                    </div>
                </div>
            </li>
              
          <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Show Tables</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Show Tables:</h6>
                        <a class="collapse-item" href="/showemployees">Show Employees</a>
                        <a class="collapse-item" href="/showstudents">Show Students</a>
                         <a class="collapse-item" href="/showtools">Show Tools</a>
                        <a class="collapse-item" href="/showfewtools">Show Few Tools</a>
                        <a class="collapse-item" href="/showclassess">Show Classess</a>
                        <a class="collapse-item" href="/showpositions">Show Positions</a>
                        <a class="collapse-item" href="/showtool">Show Tool</a>
                        <a class="collapse-item" href="/showsubjects">Show Subjects</a>
                       
                      
                        
                   </div>
                </div>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/addlimit">
                  <i class="fas fa-fw fa-calendar"></i>
                    <span>Add Limit</span></a>

            </li>

  
            <hr class="sidebar-divider d-none d-md-block">

            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
  
        <div id="content-wrapper" class="d-flex flex-column">

          
            <div id="content">

               
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

             </nav>


    

<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

<script src="../static/js/sb-admin-2.min.js"></script>

<script src="../static/vendor/chart.js/Chart.min.js"></script>

<script src="../static/js/demo/chart-area-demo.js"></script>
<script src="../static/js/demo/chart-pie-demo.js"></script>


<script src="../static/bootstrap.js"></script>
<script src="../static/proper.js"></script>
<script src="../static/slim.js"></script>

{% with messages=get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category,message in messages %}
      <div class="alert alert-{{category}}">
        {{message}}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    {% block content %}

    {% endblock %}


 
</body>
</html>