{% extends 'layout.html' %}
{% block content %}


    <!-- Page Wrapper -->
   

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                   
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Position Table</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                            
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        {% for position in positions %}
                                        <tr>
                                            <td>{{position.name}}</td>
                                            <td><a href="{{url_for('editposition',id=position.id)}}"><i class="fas fa-fw fa-edit"></i></td>
                                            <td><a href="{{url_for('deleteposition',id=position.id)}}"><i class="fas fa-fw fa-trash-alt"></i></td>   
                                        </tr>
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                  <div class="container-fluid">

                

            </div>
       <script src="../static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="../static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
<script src="../static/js/demo/datatables-demo.js"></script>
  {% endblock %}